<!doctype html>
<!--
  This awesome resume was created {{#if resume.basics.name}}by {{resume.basics.name}} {{/if}}with the JSON resume schema: https://jsonresume.org/
  It uses the Eloquent theme: https://github.com/thibaudcolas/jsonresume-theme-eloquent
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{resume.basics.name}}{{#if resume.basics.label}} — {{resume.basics.label}}{{/if}}</title>

  <style>
    {{> css}}
  </style>

  <meta name="theme-color" content="#2d89ef">

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>❤️</text></svg>"/>

  <meta name="author" content="{{resume.basics.name}}">
  <meta name="description" content="{{#if resume.basics.summary}}{{truncate resume.basics.summary 120}}{{else}}{{resume.basics.name}}{{#if resume.basics.label}} — {{resume.basics.label}}{{/if}}{{/if}}">

  {{#if resume.basics.label}}
    <meta name="twitter:label1" content="Job">
    <meta name="twitter:data1" content="{{resume.basics.label}}">
  {{/if}}
  {{#if resume.basics.website}}
    <meta name="twitter:label2" content="Site">
    <meta name="twitter:data2" content="{{resume.basics.website}}">
  {{/if}}
</head>
<body>
  <svg class="hidden">
    <defs>
      <symbol id="icon-medium" viewBox="0 0 32 32"><path d="M30.406 7.962c-0.032-0.042-0.063-0.084-0.1-0.122-0.033-0.035-0.067-0.070-0.102-0.101-0.088-0.076-0.182-0.145-0.288-0.2l-8.113-4.109c-0.001-0.001-0.002-0.001-0.003-0.001-0.142-0.072-0.294-0.126-0.451-0.164-0.169-0.042-0.343-0.065-0.518-0.065v0c-0.767 0-1.487 0.402-1.881 1.048l-4.501 7.407-1.816-3.556c-0.141-0.229-0.336-0.408-0.568-0.526l-7.687-3.892c-0.001-0.001-0.003-0.001-0.005-0.003l-0.242-0.122c-0.321-0.163-0.651-0.245-0.981-0.245-1.066 0-1.87 0.863-1.87 2.008v17.316c0 0.944 0.608 1.937 1.446 2.362l6.975 3.532c0.355 0.18 0.719 0.272 1.081 0.272 1.169 0 2.017-0.921 2.017-2.19v-5.587l14.573 7.38c0.43 0.218 0.861 0.328 1.281 0.328 1.197 0 2.066-0.892 2.066-2.121v-17.756c0.001-0.333-0.12-0.64-0.314-0.892zM11.52 26.61c0 0.57-0.304 0.91-0.737 0.91-0.154 0-0.324-0.043-0.503-0.133l-6.975-3.532c-0.41-0.207-0.744-0.756-0.744-1.22v-17.316c0-0.456 0.243-0.728 0.59-0.728 0.124 0 0.26 0.035 0.403 0.107l0.244 0.124c0.001 0.001 0.002 0.001 0.003 0.001l7.686 3.892c0.014 0.007 0.023 0.020 0.033 0.031v17.864zM19.576 5.684l0.468-0.771c0.168-0.275 0.477-0.433 0.787-0.433 0.074 0 0.148 0.011 0.22 0.029 0.056 0.013 0.113 0.033 0.173 0.063l8.109 4.106c0.001 0.001 0.001 0.001 0.001 0.001l0.008 0.004c0.005 0.003 0.006 0.009 0.010 0.013 0.041 0.031 0.058 0.086 0.030 0.131l-8.899 14.646-5.35-10.477 4.442-7.312zM12.8 19.588v-8.348l5.748 11.259-5.748-2.911zM29.44 26.61c0 0.536-0.318 0.841-0.786 0.841-0.209 0-0.449-0.061-0.703-0.189l-6.326-3.204 7.814-12.861v15.413z"></path></symbol>
      <symbol id="icon-heart" viewBox="0 0 28 28"><path d="M14 26q-0.406 0-0.688-0.281l-9.75-9.406q-0.156-0.125-0.43-0.406t-0.867-1.023-1.062-1.523-0.836-1.891-0.367-2.156q0-3.437 1.984-5.375t5.484-1.937q0.969 0 1.977 0.336t1.875 0.906 1.492 1.070 1.188 1.062q0.562-0.562 1.188-1.062t1.492-1.070 1.875-0.906 1.977-0.336q3.5 0 5.484 1.937t1.984 5.375q0 3.453-3.578 7.031l-9.734 9.375q-0.281 0.281-0.688 0.281z"></path></symbol>
      <symbol id="icon-user" viewBox="0 0 22 28"><path d="M22 21.953q0 1.875-1.141 2.961t-3.031 1.086h-13.656q-1.891 0-3.031-1.086t-1.141-2.961q0-0.828 0.055-1.617t0.219-1.703 0.414-1.695 0.672-1.523 0.969-1.266 1.336-0.836 1.742-0.313q0.141 0 0.656 0.336t1.164 0.75 1.687 0.75 2.086 0.336 2.086-0.336 1.687-0.75 1.164-0.75 0.656-0.336q0.953 0 1.742 0.313t1.336 0.836 0.969 1.266 0.672 1.523 0.414 1.695 0.219 1.703 0.055 1.617zM17 8q0 2.484-1.758 4.242t-4.242 1.758-4.242-1.758-1.758-4.242 1.758-4.242 4.242-1.758 4.242 1.758 1.758 4.242z"></path></symbol>
      <symbol id="icon-clock-o" viewBox="0 0 28 28"><path d="M14 8.5v7q0 0.219-0.141 0.359t-0.359 0.141h-5q-0.219 0-0.359-0.141t-0.141-0.359v-1q0-0.219 0.141-0.359t0.359-0.141h3.5v-5.5q0-0.219 0.141-0.359t0.359-0.141h1q0.219 0 0.359 0.141t0.141 0.359zM20.5 14q0-2.312-1.141-4.266t-3.094-3.094-4.266-1.141-4.266 1.141-3.094 3.094-1.141 4.266 1.141 4.266 3.094 3.094 4.266 1.141 4.266-1.141 3.094-3.094 1.141-4.266zM24 14q0 3.266-1.609 6.023t-4.367 4.367-6.023 1.609-6.023-1.609-4.367-4.367-1.609-6.023 1.609-6.023 4.367-4.367 6.023-1.609 6.023 1.609 4.367 4.367 1.609 6.023z"></path></symbol>
      <symbol id="icon-download" viewBox="0 0 26 28"><path d="M20 21q0-0.406-0.297-0.703t-0.703-0.297-0.703 0.297-0.297 0.703 0.297 0.703 0.703 0.297 0.703-0.297 0.297-0.703zM24 21q0-0.406-0.297-0.703t-0.703-0.297-0.703 0.297-0.297 0.703 0.297 0.703 0.703 0.297 0.703-0.297 0.297-0.703zM26 17.5v5q0 0.625-0.438 1.062t-1.062 0.438h-23q-0.625 0-1.062-0.438t-0.438-1.062v-5q0-0.625 0.438-1.062t1.062-0.438h7.266l2.109 2.125q0.906 0.875 2.125 0.875t2.125-0.875l2.125-2.125h7.25q0.625 0 1.062 0.438t0.438 1.062zM20.922 8.609q0.266 0.641-0.219 1.094l-7 7q-0.281 0.297-0.703 0.297t-0.703-0.297l-7-7q-0.484-0.453-0.219-1.094 0.266-0.609 0.922-0.609h4v-7q0-0.406 0.297-0.703t0.703-0.297h4q0.406 0 0.703 0.297t0.297 0.703v7h4q0.656 0 0.922 0.609z"></path></symbol>
      <symbol id="icon-book" viewBox="0 0 26 28"><path d="M25.609 7.469q0.625 0.891 0.281 2.016l-4.297 14.156q-0.297 1-1.195 1.68t-1.914 0.68h-14.422q-1.203 0-2.32-0.836t-1.555-2.055q-0.375-1.047-0.031-1.984 0-0.063 0.047-0.422t0.063-0.578q0.016-0.125-0.047-0.336t-0.047-0.305q0.031-0.172 0.125-0.328t0.258-0.367 0.258-0.367q0.359-0.594 0.703-1.43t0.469-1.43q0.047-0.156 0.008-0.469t-0.008-0.438q0.047-0.172 0.266-0.438t0.266-0.359q0.328-0.562 0.656-1.437t0.391-1.406q0.016-0.141-0.039-0.5t0.008-0.438q0.063-0.203 0.344-0.477t0.344-0.352q0.297-0.406 0.664-1.32t0.43-1.508q0.016-0.125-0.047-0.398t-0.031-0.414q0.031-0.125 0.141-0.281t0.281-0.359 0.266-0.328q0.125-0.187 0.258-0.477t0.234-0.547 0.25-0.562 0.305-0.5 0.414-0.367 0.562-0.18 0.742 0.086l-0.016 0.047q0.594-0.141 0.797-0.141h11.891q1.156 0 1.781 0.875t0.281 2.031l-4.281 14.156q-0.562 1.859-1.117 2.398t-2.008 0.539h-13.578q-0.422 0-0.594 0.234-0.172 0.25-0.016 0.672 0.375 1.094 2.25 1.094h14.422q0.453 0 0.875-0.242t0.547-0.648l4.688-15.422q0.109-0.344 0.078-0.891 0.594 0.234 0.922 0.672zM8.984 7.5q-0.063 0.203 0.031 0.352t0.313 0.148h9.5q0.203 0 0.398-0.148t0.258-0.352l0.328-1q0.063-0.203-0.031-0.352t-0.313-0.148h-9.5q-0.203 0-0.398 0.148t-0.258 0.352zM7.688 11.5q-0.063 0.203 0.031 0.352t0.313 0.148h9.5q0.203 0 0.398-0.148t0.258-0.352l0.328-1q0.063-0.203-0.031-0.352t-0.313-0.148h-9.5q-0.203 0-0.398 0.148t-0.258 0.352z"></path></symbol>
      <symbol id="icon-bookmark" viewBox="0 0 20 28"><path d="M18.188 2q0.359 0 0.688 0.141 0.516 0.203 0.82 0.641t0.305 0.969v20.141q0 0.531-0.305 0.969t-0.82 0.641q-0.297 0.125-0.688 0.125-0.75 0-1.297-0.5l-6.891-6.625-6.891 6.625q-0.562 0.516-1.297 0.516-0.359 0-0.688-0.141-0.516-0.203-0.82-0.641t-0.305-0.969v-20.141q0-0.531 0.305-0.969t0.82-0.641q0.328-0.141 0.688-0.141h16.375z"></path></symbol>
      <symbol id="icon-comment" viewBox="0 0 28 28"><path d="M28 14q0 2.719-1.875 5.023t-5.094 3.641-7.031 1.336q-1.094 0-2.266-0.125-3.094 2.734-7.187 3.781-0.766 0.219-1.781 0.344-0.266 0.031-0.477-0.141t-0.273-0.453v-0.016q-0.047-0.063-0.008-0.187t0.031-0.156 0.070-0.148l0.094-0.141t0.109-0.133 0.125-0.141q0.109-0.125 0.484-0.539t0.539-0.594 0.484-0.617 0.508-0.797 0.422-0.922 0.406-1.188q-2.453-1.391-3.867-3.437t-1.414-4.391q0-2.031 1.109-3.883t2.984-3.195 4.469-2.133 5.437-0.789q3.813 0 7.031 1.336t5.094 3.641 1.875 5.023z"></path></symbol>
      <symbol id="icon-chevron-up" viewBox="0 0 28 28"><path d="M26.297 20.797l-2.594 2.578q-0.297 0.297-0.703 0.297t-0.703-0.297l-8.297-8.297-8.297 8.297q-0.297 0.297-0.703 0.297t-0.703-0.297l-2.594-2.578q-0.297-0.297-0.297-0.711t0.297-0.711l11.594-11.578q0.297-0.297 0.703-0.297t0.703 0.297l11.594 11.578q0.297 0.297 0.297 0.711t-0.297 0.711z"></path></symbol>
      <symbol id="icon-trophy" viewBox="0 0 26 28"><path d="M7.156 13.797q-1.156-2.531-1.156-5.797h-4v1.5q0 1.219 1.477 2.531t3.68 1.766zM24 9.5v-1.5h-4q0 3.266-1.156 5.797 2.203-0.453 3.68-1.766t1.477-2.531zM26 7.5v2q0 1.109-0.648 2.234t-1.75 2.031-2.703 1.523-3.367 0.695q-0.656 0.844-1.484 1.484-0.594 0.531-0.82 1.133t-0.227 1.398q0 0.844 0.477 1.422t1.523 0.578q1.172 0 2.086 0.711t0.914 1.789v1q0 0.219-0.141 0.359t-0.359 0.141h-13q-0.219 0-0.359-0.141t-0.141-0.359v-1q0-1.078 0.914-1.789t2.086-0.711q1.047 0 1.523-0.578t0.477-1.422q0-0.797-0.227-1.398t-0.82-1.133q-0.828-0.641-1.484-1.484-1.766-0.078-3.367-0.695t-2.703-1.523-1.75-2.031-0.648-2.234v-2q0-0.625 0.438-1.062t1.062-0.438h4.5v-1.5q0-1.031 0.734-1.766t1.766-0.734h9q1.031 0 1.766 0.734t0.734 1.766v1.5h4.5q0.625 0 1.062 0.438t0.438 1.062z"></path></symbol>
      <symbol id="icon-phone" viewBox="0 0 22 28"><path d="M22 19.375q0 0.422-0.156 1.102t-0.328 1.070q-0.328 0.781-1.906 1.656-1.469 0.797-2.906 0.797-0.422 0-0.82-0.055t-0.898-0.195-0.742-0.227-0.867-0.32-0.766-0.281q-1.531-0.547-2.734-1.297-2-1.234-4.133-3.367t-3.367-4.133q-0.75-1.203-1.297-2.734-0.047-0.141-0.281-0.766t-0.32-0.867-0.227-0.742-0.195-0.898-0.055-0.82q0-1.437 0.797-2.906 0.875-1.578 1.656-1.906 0.391-0.172 1.070-0.328t1.102-0.156q0.219 0 0.328 0.047 0.281 0.094 0.828 1.188 0.172 0.297 0.469 0.844t0.547 0.992 0.484 0.836q0.047 0.063 0.273 0.391t0.336 0.555 0.109 0.445q0 0.313-0.445 0.781t-0.969 0.859-0.969 0.828-0.445 0.719q0 0.141 0.078 0.352t0.133 0.32 0.219 0.375 0.18 0.297q1.188 2.141 2.719 3.672t3.672 2.719q0.031 0.016 0.297 0.18t0.375 0.219 0.32 0.133 0.352 0.078q0.281 0 0.719-0.445t0.828-0.969 0.859-0.969 0.781-0.445q0.219 0 0.445 0.109t0.555 0.336 0.391 0.273q0.391 0.234 0.836 0.484t0.992 0.547 0.844 0.469q1.094 0.547 1.188 0.828 0.047 0.109 0.047 0.328z"></path></symbol>
      <symbol id="icon-twitter" viewBox="0 0 26 28"><path d="M25.312 6.375q-1.047 1.531-2.531 2.609 0.016 0.219 0.016 0.656 0 2.031-0.594 4.055t-1.805 3.883-2.883 3.289-4.031 2.281-5.047 0.852q-4.234 0-7.75-2.266 0.547 0.063 1.219 0.063 3.516 0 6.266-2.156-1.641-0.031-2.938-1.008t-1.781-2.492q0.516 0.078 0.953 0.078 0.672 0 1.328-0.172-1.75-0.359-2.898-1.742t-1.148-3.211v-0.063q1.062 0.594 2.281 0.641-1.031-0.688-1.641-1.797t-0.609-2.406q0-1.375 0.688-2.547 1.891 2.328 4.602 3.727t5.805 1.555q-0.125-0.594-0.125-1.156 0-2.094 1.477-3.57t3.57-1.477q2.188 0 3.687 1.594 1.703-0.328 3.203-1.219-0.578 1.797-2.219 2.781 1.453-0.156 2.906-0.781z"></path></symbol>
      <symbol id="icon-facebook" viewBox="0 0 16 28"><path d="M14.984 0.187v4.125h-2.453q-1.344 0-1.813 0.562t-0.469 1.687v2.953h4.578l-0.609 4.625h-3.969v11.859h-4.781v-11.859h-3.984v-4.625h3.984v-3.406q0-2.906 1.625-4.508t4.328-1.602q2.297 0 3.563 0.187z"></path></symbol>
      <symbol id="icon-github" viewBox="0 0 28 28"><path d="M24 14q0 3.922-2.289 7.055t-5.914 4.336q-0.422 0.078-0.617-0.109t-0.195-0.469v-3.297q0-1.516-0.812-2.219 0.891-0.094 1.602-0.281t1.469-0.609 1.266-1.039 0.828-1.641 0.32-2.352q0-1.891-1.234-3.219 0.578-1.422-0.125-3.187-0.438-0.141-1.266 0.172t-1.437 0.688l-0.594 0.375q-1.453-0.406-3-0.406t-3 0.406q-0.25-0.172-0.664-0.422t-1.305-0.602-1.344-0.211q-0.688 1.766-0.109 3.187-1.234 1.328-1.234 3.219 0 1.328 0.32 2.344t0.82 1.641 1.258 1.047 1.469 0.609 1.602 0.281q-0.625 0.562-0.766 1.609-0.328 0.156-0.703 0.234t-0.891 0.078-1.023-0.336-0.867-0.977q-0.297-0.5-0.758-0.812t-0.773-0.375l-0.313-0.047q-0.328 0-0.453 0.070t-0.078 0.18 0.141 0.219 0.203 0.187l0.109 0.078q0.344 0.156 0.68 0.594t0.492 0.797l0.156 0.359q0.203 0.594 0.688 0.961t1.047 0.469 1.086 0.109 0.867-0.055l0.359-0.063q0 0.594 0.008 1.391t0.008 0.844q0 0.281-0.203 0.469t-0.625 0.109q-3.625-1.203-5.914-4.336t-2.289-7.055q0-3.266 1.609-6.023t4.367-4.367 6.023-1.609 6.023 1.609 4.367 4.367 1.609 6.023z"></path></symbol>
      <symbol id="icon-chain" viewBox="0 0 26 28"><path d="M22.75 19q0-0.625-0.438-1.062l-3.25-3.25q-0.438-0.438-1.062-0.438-0.656 0-1.125 0.5 0.047 0.047 0.297 0.289t0.336 0.336 0.234 0.297 0.203 0.398 0.055 0.43q0 0.625-0.438 1.062t-1.062 0.438q-0.234 0-0.43-0.055t-0.398-0.203-0.297-0.234-0.336-0.336-0.289-0.297q-0.516 0.484-0.516 1.141 0 0.625 0.438 1.062l3.219 3.234q0.422 0.422 1.062 0.422 0.625 0 1.062-0.406l2.297-2.281q0.438-0.438 0.438-1.047zM11.766 7.984q0-0.625-0.438-1.062l-3.219-3.234q-0.438-0.438-1.062-0.438-0.609 0-1.062 0.422l-2.297 2.281q-0.438 0.438-0.438 1.047 0 0.625 0.438 1.062l3.25 3.25q0.422 0.422 1.062 0.422 0.656 0 1.125-0.484-0.047-0.047-0.297-0.289t-0.336-0.336-0.234-0.297-0.203-0.398-0.055-0.43q0-0.625 0.438-1.062t1.062-0.438q0.234 0 0.43 0.055t0.398 0.203 0.297 0.234 0.336 0.336 0.289 0.297q0.516-0.484 0.516-1.141zM25.75 19q0 1.875-1.328 3.172l-2.297 2.281q-1.297 1.297-3.172 1.297-1.891 0-3.187-1.328l-3.219-3.234q-1.297-1.297-1.297-3.172 0-1.922 1.375-3.266l-1.375-1.375q-1.344 1.375-3.25 1.375-1.875 0-3.187-1.313l-3.25-3.25q-1.313-1.313-1.313-3.187t1.328-3.172l2.297-2.281q1.297-1.297 3.172-1.297 1.891 0 3.187 1.328l3.219 3.234q1.297 1.297 1.297 3.172 0 1.922-1.375 3.266l1.375 1.375q1.344-1.375 3.25-1.375 1.875 0 3.187 1.313l3.25 3.25q1.313 1.313 1.313 3.187z"></path></symbol>
      <symbol id="icon-envelope" viewBox="0 0 28 28"><path d="M28 11.094v12.406q0 1.031-0.734 1.766t-1.766 0.734h-23q-1.031 0-1.766-0.734t-0.734-1.766v-12.406q0.688 0.766 1.578 1.359 5.656 3.844 7.766 5.391 0.891 0.656 1.445 1.023t1.477 0.75 1.719 0.383h0.031q0.797 0 1.719-0.383t1.477-0.75 1.445-1.023q2.656-1.922 7.781-5.391 0.891-0.609 1.563-1.359zM28 6.5q0 1.234-0.766 2.359t-1.906 1.922q-5.875 4.078-7.313 5.078-0.156 0.109-0.664 0.477t-0.844 0.594-0.812 0.508-0.898 0.422-0.781 0.141h-0.031q-0.359 0-0.781-0.141t-0.898-0.422-0.812-0.508-0.844-0.594-0.664-0.477q-1.422-1-4.094-2.852t-3.203-2.227q-0.969-0.656-1.828-1.805t-0.859-2.133q0-1.219 0.648-2.031t1.852-0.812h23q1.016 0 1.758 0.734t0.742 1.766z"></path></symbol>
      <symbol id="icon-linkedin" viewBox="0 0 28 28"><path d="M5.453 9.766v15.484h-5.156v-15.484h5.156zM5.781 4.984q0.016 1.141-0.789 1.906t-2.117 0.766h-0.031q-1.281 0-2.063-0.766t-0.781-1.906q0-1.156 0.805-1.914t2.102-0.758 2.078 0.758 0.797 1.914zM24 16.375v8.875h-5.141v-8.281q0-1.641-0.633-2.57t-1.977-0.93q-0.984 0-1.648 0.539t-0.992 1.336q-0.172 0.469-0.172 1.266v8.641h-5.141q0.031-6.234 0.031-10.109t-0.016-4.625l-0.016-0.75h5.141v2.25h-0.031q0.313-0.5 0.641-0.875t0.883-0.812 1.359-0.68 1.789-0.242q2.672 0 4.297 1.773t1.625 5.195z"></path></symbol>
      <symbol id="icon-code" viewBox="0 0 30 28"><path d="M9.641 21.859l-0.781 0.781q-0.156 0.156-0.359 0.156t-0.359-0.156l-7.281-7.281q-0.156-0.156-0.156-0.359t0.156-0.359l7.281-7.281q0.156-0.156 0.359-0.156t0.359 0.156l0.781 0.781q0.156 0.156 0.156 0.359t-0.156 0.359l-6.141 6.141 6.141 6.141q0.156 0.156 0.156 0.359t-0.156 0.359zM18.875 5.187l-5.828 20.172q-0.063 0.203-0.242 0.305t-0.367 0.039l-0.969-0.266q-0.203-0.063-0.305-0.242t-0.039-0.383l5.828-20.172q0.063-0.203 0.242-0.305t0.367-0.039l0.969 0.266q0.203 0.063 0.305 0.242t0.039 0.383zM29.141 15.359l-7.281 7.281q-0.156 0.156-0.359 0.156t-0.359-0.156l-0.781-0.781q-0.156-0.156-0.156-0.359t0.156-0.359l6.141-6.141-6.141-6.141q-0.156-0.156-0.156-0.359t0.156-0.359l0.781-0.781q0.156-0.156 0.359-0.156t0.359 0.156l7.281 7.281q0.156 0.156 0.156 0.359t-0.156 0.359z"></path></symbol>
      <symbol id="icon-location-arrow" viewBox="0 0 22 28"><path d="M21.891 5.453l-10 20q-0.266 0.547-0.891 0.547-0.078 0-0.234-0.031-0.344-0.078-0.555-0.352t-0.211-0.617v-9h-9q-0.344 0-0.617-0.211t-0.352-0.555 0.063-0.656 0.453-0.469l20-10q0.203-0.109 0.453-0.109 0.422 0 0.703 0.297 0.234 0.219 0.289 0.539t-0.102 0.617z"></path></symbol>
      <symbol id="icon-thumbs-up" viewBox="0 0 26 28"><path d="M4 21q0-0.406-0.297-0.703t-0.703-0.297q-0.422 0-0.711 0.297t-0.289 0.703q0 0.422 0.289 0.711t0.711 0.289q0.406 0 0.703-0.289t0.297-0.711zM6.5 13v10q0 0.406-0.297 0.703t-0.703 0.297h-4.5q-0.406 0-0.703-0.297t-0.297-0.703v-10q0-0.406 0.297-0.703t0.703-0.297h4.5q0.406 0 0.703 0.297t0.297 0.703zM25 13q0 1.344-0.859 2.328 0.234 0.688 0.234 1.188 0.047 1.188-0.672 2.141 0.266 0.875 0 1.828-0.234 0.891-0.844 1.469 0.141 1.75-0.766 2.828-1 1.188-3.078 1.219h-2.016q-1.031 0-2.25-0.242t-1.898-0.453-1.883-0.617q-1.922-0.672-2.469-0.688-0.406-0.016-0.703-0.305t-0.297-0.695v-10.016q0-0.391 0.281-0.68t0.672-0.32q0.375-0.031 1.188-0.922t1.578-1.891q1.062-1.359 1.578-1.875 0.281-0.281 0.484-0.75t0.273-0.758 0.211-0.945q0.109-0.609 0.195-0.953t0.305-0.812 0.531-0.781q0.297-0.297 0.703-0.297 0.719 0 1.289 0.164t0.938 0.406 0.625 0.633 0.375 0.703 0.187 0.781 0.078 0.703 0.008 0.609q0 0.594-0.148 1.188t-0.297 0.938-0.43 0.875q-0.047 0.094-0.156 0.281t-0.172 0.344-0.125 0.375h4.328q1.219 0 2.109 0.891t0.891 2.109z"></path></symbol>
      <symbol id="icon-bitbucket" viewBox="0 0 22 28"><path d="M12.734 13.422q0.125 0.984-0.789 1.578t-1.742 0.094q-0.609-0.266-0.836-0.906t-0.008-1.281 0.812-0.906q0.562-0.281 1.133-0.187t1 0.555 0.43 1.055zM14.469 13.094q-0.219-1.672-1.766-2.562t-3.078-0.203q-0.984 0.438-1.57 1.383t-0.539 2.023q0.063 1.422 1.211 2.422t2.586 0.875q1.422-0.125 2.375-1.313t0.781-2.625zM18.203 4.625q-0.313-0.422-0.875-0.695t-0.906-0.344-1.109-0.195q-4.547-0.734-8.844 0.031-0.672 0.109-1.031 0.187t-0.859 0.344-0.781 0.672q0.469 0.438 1.188 0.711t1.148 0.344 1.367 0.18q3.563 0.453 7 0.016 0.984-0.125 1.398-0.187t1.133-0.336 1.172-0.727zM19.094 20.797q-0.125 0.406-0.242 1.195t-0.219 1.313-0.445 1.094-0.906 0.883q-1.344 0.75-2.961 1.117t-3.156 0.344-3.148-0.289q-0.719-0.125-1.273-0.281t-1.195-0.422-1.141-0.68-0.812-0.961q-0.391-1.5-0.891-4.562l0.094-0.25 0.281-0.141q3.484 2.312 7.914 2.312t7.93-2.312q0.328 0.094 0.375 0.359t-0.078 0.703-0.125 0.578zM21.922 5.781q-0.406 2.609-1.734 10.234-0.078 0.469-0.422 0.875t-0.68 0.625-0.852 0.484q-3.938 1.969-9.531 1.375-3.875-0.422-6.156-2.172-0.234-0.187-0.398-0.414t-0.266-0.547-0.141-0.531-0.094-0.617-0.086-0.547q-0.141-0.781-0.414-2.344t-0.438-2.523-0.367-2.305-0.344-2.469q0.047-0.406 0.273-0.758t0.492-0.586 0.703-0.469 0.719-0.352 0.75-0.289q1.953-0.719 4.891-1 5.922-0.578 10.563 0.781 2.422 0.719 3.359 1.906 0.25 0.313 0.258 0.797t-0.086 0.844z"></path></symbol>
      <symbol id="icon-dribbble" viewBox="0 0 28 28"><path d="M16 23.438q-0.656-3.766-2.188-7.781h-0.031l-0.031 0.016q-0.25 0.094-0.672 0.258t-1.578 0.766-2.141 1.281-2.047 1.789-1.609 2.312l-0.234-0.172q2.875 2.344 6.531 2.344 2.063 0 4-0.812zM13.109 13.953q-0.328-0.766-0.828-1.734-4.859 1.453-10.516 1.453-0.016 0.109-0.016 0.328 0 1.937 0.688 3.695t1.937 3.148q0.781-1.391 1.93-2.602t2.227-1.945 2.039-1.266 1.555-0.75l0.578-0.203q0.063-0.016 0.203-0.055t0.203-0.070zM11.438 10.641q-1.875-3.328-3.813-5.906-2.156 1.016-3.656 2.906t-2 4.25q4.719 0 9.469-1.25zM22.125 15.625q-3.281-0.938-6.391-0.453 1.359 3.734 2 7.328 1.734-1.172 2.891-2.961t1.5-3.914zM9.547 4.047q-0.016 0-0.031 0.016 0.016-0.016 0.031-0.016zM18.766 6.312q-2.891-2.562-6.766-2.562-1.188 0-2.422 0.297 2.047 2.656 3.844 5.969 1.078-0.406 2.031-0.945t1.508-0.961 1.023-0.891 0.586-0.633zM22.25 13.891q-0.047-3.625-2.328-6.406l-0.016 0.016q-0.141 0.187-0.297 0.383t-0.68 0.695-1.109 0.945-1.563 1.016-2.055 1.008q0.391 0.828 0.688 1.484 0.031 0.094 0.102 0.273t0.117 0.258q0.562-0.078 1.164-0.109t1.148-0.031 1.078 0.023 1 0.063 0.883 0.086 0.75 0.102 0.57 0.094 0.391 0.070zM24 14q0 3.266-1.609 6.023t-4.367 4.367-6.023 1.609-6.023-1.609-4.367-4.367-1.609-6.023 1.609-6.023 4.367-4.367 6.023-1.609 6.023 1.609 4.367 4.367 1.609 6.023z"></path></symbol>
      <symbol id="icon-skype" viewBox="0 0 28 28"><path d="M18.328 16.609q0-0.781-0.305-1.43t-0.758-1.070-1.141-0.766-1.289-0.531-1.367-0.359l-1.625-0.375q-0.469-0.109-0.688-0.164t-0.547-0.18-0.469-0.25-0.258-0.328-0.117-0.469q0-1.203 2.25-1.203 0.672 0 1.203 0.187t0.844 0.445 0.594 0.523 0.625 0.453 0.75 0.187q0.734 0 1.18-0.5t0.445-1.203q0-0.859-0.875-1.555t-2.219-1.055-2.844-0.359q-1.062 0-2.063 0.242t-1.867 0.734-1.391 1.359-0.523 2.008q0 0.953 0.297 1.664t0.875 1.18 1.25 0.758 1.609 0.508l2.281 0.562q1.406 0.344 1.75 0.562 0.5 0.313 0.5 0.938 0 0.609-0.625 1.008t-1.641 0.398q-0.797 0-1.43-0.25t-1.016-0.602-0.711-0.703-0.719-0.602-0.844-0.25q-0.781 0-1.18 0.469t-0.398 1.172q0 1.437 1.906 2.461t4.547 1.023q1.141 0 2.187-0.289t1.914-0.836 1.383-1.461 0.516-2.055zM24 20q0 2.484-1.758 4.242t-4.242 1.758q-2.031 0-3.656-1.25-1.203 0.25-2.344 0.25-2.234 0-4.273-0.867t-3.516-2.344-2.344-3.516-0.867-4.273q0-1.141 0.25-2.344-1.25-1.625-1.25-3.656 0-2.484 1.758-4.242t4.242-1.758q2.031 0 3.656 1.25 1.203-0.25 2.344-0.25 2.234 0 4.273 0.867t3.516 2.344 2.344 3.516 0.867 4.273q0 1.141-0.25 2.344 1.25 1.625 1.25 3.656z"></path></symbol>
      <symbol id="icon-graduation-cap" viewBox="0 0 36 28"><path d="M27.719 13.062l0.281 4.937q0.063 1.078-1.281 2t-3.672 1.461-5.047 0.539-5.047-0.539-3.672-1.461-1.281-2l0.281-4.937 8.969 2.828q0.344 0.109 0.75 0.109t0.75-0.109zM36 8q0 0.359-0.344 0.484l-17.5 5.5q-0.063 0.016-0.156 0.016t-0.156-0.016l-10.187-3.219q-0.672 0.531-1.109 1.742t-0.531 2.789q0.984 0.562 0.984 1.703 0 1.078-0.906 1.672l0.906 6.766q0.031 0.219-0.125 0.391-0.141 0.172-0.375 0.172h-3q-0.234 0-0.375-0.172-0.156-0.172-0.125-0.391l0.906-6.766q-0.906-0.594-0.906-1.672 0-1.141 1.016-1.734 0.172-3.234 1.531-5.156l-5.203-1.625q-0.344-0.125-0.344-0.484t0.344-0.484l17.5-5.5q0.063-0.016 0.156-0.016t0.156 0.016l17.5 5.5q0.344 0.125 0.344 0.484z"></path></symbol>
      <symbol id="icon-building" viewBox="0 0 28 28"><path d="M21 0q0.406 0 0.703 0.297t0.297 0.703v26q0 0.406-0.297 0.703t-0.703 0.297h-20q-0.406 0-0.703-0.297t-0.297-0.703v-26q0-0.406 0.297-0.703t0.703-0.297h20zM8 4.5v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359zM8 8.5v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359zM8 12.5v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359zM8 16.5v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359zM6 21.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM6 17.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM6 13.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM6 9.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM6 5.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM14 25.5v-3q0-0.219-0.141-0.359t-0.359-0.141h-5q-0.219 0-0.359 0.141t-0.141 0.359v3q0 0.219 0.141 0.359t0.359 0.141h5q0.219 0 0.359-0.141t0.141-0.359zM14 17.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM14 13.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM14 9.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM14 5.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM18 21.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM18 17.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM18 13.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM18 9.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359zM18 5.5v-1q0-0.219-0.141-0.359t-0.359-0.141h-1q-0.219 0-0.359 0.141t-0.141 0.359v1q0 0.219 0.141 0.359t0.359 0.141h1q0.219 0 0.359-0.141t0.141-0.359z"></path></symbol>
      <symbol id="icon-soundcloud" viewBox="0 0 36 28"><path d="M12.25 21.438l0.25-3.766-0.25-8.172q-0.016-0.156-0.117-0.266t-0.258-0.109q-0.141 0-0.25 0.109t-0.109 0.266l-0.219 8.172 0.219 3.766q0.016 0.156 0.117 0.258t0.242 0.102q0.344 0 0.375-0.359zM16.875 20.984l0.172-3.297-0.187-9.156q0-0.25-0.203-0.375-0.125-0.078-0.25-0.078t-0.25 0.078q-0.203 0.125-0.203 0.375l-0.016 0.094-0.156 9.047q0 0.016 0.172 3.687v0.016q0 0.156 0.094 0.266 0.141 0.172 0.359 0.172 0.172 0 0.313-0.141 0.141-0.109 0.141-0.313zM0.547 15.672l0.313 2-0.313 1.969q-0.031 0.141-0.141 0.141t-0.141-0.141l-0.266-1.969 0.266-2q0.031-0.141 0.141-0.141t0.141 0.141zM1.891 14.438l0.406 3.234-0.406 3.172q-0.031 0.141-0.156 0.141-0.141 0-0.141-0.156l-0.359-3.156 0.359-3.234q0-0.141 0.141-0.141 0.125 0 0.156 0.141zM3.328 13.844l0.391 3.828-0.391 3.703q0 0.172-0.172 0.172-0.156 0-0.187-0.172l-0.328-3.703 0.328-3.828q0.031-0.187 0.187-0.187 0.172 0 0.172 0.187zM4.797 13.734l0.359 3.938-0.359 3.813q-0.031 0.203-0.219 0.203-0.203 0-0.203-0.203l-0.328-3.813 0.328-3.938q0-0.203 0.203-0.203 0.187 0 0.219 0.203zM6.266 14.016l0.328 3.656-0.328 3.844q-0.031 0.25-0.25 0.25-0.094 0-0.164-0.070t-0.070-0.18l-0.313-3.844 0.313-3.656q0-0.094 0.070-0.164t0.164-0.070q0.219 0 0.25 0.234zM7.734 11.734l0.328 5.938-0.328 3.844q0 0.109-0.078 0.195t-0.187 0.086q-0.25 0-0.281-0.281l-0.281-3.844 0.281-5.938q0.031-0.281 0.281-0.281 0.109 0 0.187 0.086t0.078 0.195zM9.203 10.391l0.297 7.313-0.297 3.813q0 0.125-0.086 0.211t-0.211 0.086q-0.281 0-0.313-0.297l-0.25-3.813 0.25-7.313q0.031-0.297 0.313-0.297 0.125 0 0.211 0.086t0.086 0.211zM10.734 9.766l0.281 7.906-0.281 3.781q-0.031 0.328-0.344 0.328-0.297 0-0.328-0.328l-0.25-3.781 0.25-7.906q0-0.141 0.102-0.242t0.227-0.102q0.141 0 0.234 0.102t0.109 0.242zM16.859 21.359v0 0zM13.766 9.703l0.234 7.969-0.234 3.734q0 0.156-0.117 0.273t-0.273 0.117-0.266-0.109-0.125-0.281l-0.219-3.734 0.219-7.969q0-0.172 0.117-0.281t0.273-0.109 0.273 0.109 0.117 0.281zM15.313 10l0.219 7.688-0.219 3.687q0 0.172-0.125 0.297t-0.297 0.125-0.297-0.125-0.141-0.297l-0.187-3.687 0.187-7.688q0.016-0.187 0.141-0.313t0.297-0.125 0.289 0.125 0.133 0.313zM18.625 17.687l-0.219 3.609q0 0.203-0.141 0.344t-0.344 0.141-0.344-0.141-0.156-0.344l-0.094-1.781-0.094-1.828 0.187-9.938v-0.047q0.031-0.234 0.187-0.375 0.141-0.109 0.313-0.109 0.125 0 0.234 0.078 0.219 0.125 0.25 0.406zM36 17.391q0 1.828-1.297 3.117t-3.125 1.289h-12.281q-0.203-0.031-0.344-0.172t-0.141-0.344v-14.047q0-0.359 0.438-0.516 1.328-0.531 2.828-0.531 3.047 0 5.281 2.055t2.5 5.055q0.828-0.344 1.719-0.344 1.828 0 3.125 1.297t1.297 3.141z"></path></symbol>
    </defs>
  </svg>
  <div id="top" class="container-fluid" itemscope itemtype="http://schema.org/Person" role="document">
    <div class="row">

      <section id="profile" class="col-md-4 card-wrapper profile-card-wrapper">
        <div class="card">
          {{#resume.basics}}
            {{#if picture}}
              <img class="profile-pic media-object img-circle center-block" src="{{picture}}" alt="" width="128" height="128" itemprop="image">
            {{/if}}

            {{#if name}}
              <h1 class="text-center" itemprop="name">{{name}}</h1>
            {{/if}}
            {{#if label}}
              <h2 class="text-center text-muted" itemprop="jobTitle">{{label}}</h2>
            {{/if}}

            <hr>

            <ul class="basics nav nav-stacked">
              {{#if phone}}
                <li class="basics-item">
                  <a href="tel:{{scramblePhone phone}}" data-scrambled-phone-link>
                    <svg class="icon icon-lg text-muted" aria-hidden="true"><use href="#icon-phone"></svg>
                    <span class="info">{{obfuscateText phone}}</span>
                  </a>
                </li>
              {{/if}}
              {{#if location}}
                <li class="basics-item">
                  {{#location}}
                    <a href="{{mapURL this}}" target="_blank" rel="noreferrer" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <svg class="icon icon-lg text-muted" aria-hidden="true"><use href="#icon-location-arrow"></svg>
                      <span class="info">
                        {{#if address}}<span itemprop="streetAddress">{{address}},</span>{{/if}}
                        {{#if city}}<span itemprop="addressLocality">{{city}},</span>{{/if}}
                        {{#if postalCode}}<span itemprop="postalCode">{{postalCode}},</span>{{/if}}
                        {{#if region}}<span itemprop="addressRegion">{{region}},</span>{{/if}}
                        {{#if countryCode}}<span itemprop="addressCountry">{{countryCode}}</span>{{/if}}
                      </span>
                    </a>
                  {{/location}}
                </li>
              {{/if}}
              {{#if email}}
                <li class="basics-item">
                  <a href="mailto:{{scrambleText email}}" data-scrambled-email-link>
                    <svg class="icon icon-lg text-muted" aria-hidden="true"><use href="#icon-envelope"></svg>
                    <span class="info">{{obfuscateText email}}</span>
                  </a>
                </li>
              {{/if}}
              {{#if website}}
                <li class="basics-item">
                  <a href="{{website}}" rel="author" target="_blank" rel="noreferrer" itemprop="url">
                    <svg class="icon icon-lg text-muted" aria-hidden="true"><use href="#icon-chain"></svg>
                    <span class="info">{{sanitizeURL website}}</span>
                  </a>
                </li>
              {{/if}}

              <li class="basics-item hidden-print" data-download-resume hidden>
                <a href="" download="{{#if name}}{{normalizeName name}}-{{/if}}resume.html">
                  <svg class="icon icon-lg text-muted" aria-hidden="true"><use href="#icon-download"></svg>
                  <span class="info">Download this resume</span>
                </a>
              </li>
            </ul>

            <hr>

            {{#if profiles}}
              <ul class="social-profiles nav nav-justified">
                {{#each profiles}}
                  <li class="profile-item">
                    <a href="{{url}}" target="_blank" rel="noreferrer">
                      <svg class="icon icon-lg" aria-hidden="true"><use fill="{{ colorNetwork network}}" href="#icon-{{normalizeNetwork network}}"></svg>
                      <span class="info text-muted hidden-sm hidden-md hidden-lg">{{network}}</span>
                    </a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}

          {{/resume.basics}}

          <ul class="nav nav-justified hidden-xs hidden-sm">
            <li><a href="#top" class="text-muted" title="Scroll to top"><svg class="icon" aria-hidden="true"><use href="#icon-chevron-up"></svg><span class="sr-only">Go to top</span></a></li>
          </ul>
        </div>
      </section>

      {{#if resume.basics.summary}}
        <section class="col-md-8 card-wrapper">
          <div class="card">
            <div class="detail" id="about">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#about">
                  <svg class="icon icon-lg" aria-hidden="true"><use href="#icon-user"></svg> About
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <div class="row">
                <div class="col-xs-12">
                  <p itemprop="description">{{nl2br resume.basics.summary}}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      {{/if}}

      <section class="col-md-8 card-wrapper details-card-wrapper">
        <div class="card">

          {{#if resume.work}}
            <div class="detail" id="experience">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#experience">
                  <svg class="icon icon-lg" aria-hidden="true"><use href="#icon-building"></svg> Experience
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.work}}
                  <li class="detail-item row" id="{{itemID 'experience' @index ../resume.work.length}}" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                    <div class="col-sm-9 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'experience' @index ../resume.work.length}}">#</a>
                      <h4>
                        <strong>{{position}}</strong>
                        {{~#if company~}}
                          ,&nbsp;
                          {{#if website}}
                            <a href="{{website}}"  target="_blank" rel="noreferrer" itemprop="url"><span itemprop="name">{{company}}</span></a>
                          {{else}}
                            <span itemprop="name">{{company}}</span>
                          {{/if}}
                        {{/if}}
                      </h4>

                      {{#if startDate}}
                        <p class="visible-xs-block text-muted">
                          <small>
                            <time datetime="{{startDate}}">{{formatMMMMYYYY startDate}}</time>&nbsp;—&nbsp;
                            {{#if endDate}}
                              <time datetime="{{endDate}}">{{formatMMMMYYYY endDate}}</time>
                            {{else}}
                              <time>Present</time>
                            {{/if}}
                            &nbsp;<span class="duration-counter"><svg class="icon" aria-hidden="true"><use href="#icon-clock-o"></svg>&nbsp;{{humaneDuration startDate endDate}}</span>
                          </small>
                        </p>
                      {{/if}}

                      <p>{{nl2br summary}}</p>

                      {{#if highlights}}
                        <ul class="detail-highlights">
                          {{#each highlights}}
                            <li>{{.}}</li>
                          {{/each}}
                        </ul>
                      {{/if}}
                    </div>

                    {{#if startDate}}
                      <div class="col-sm-3 detail-item-sidebar text-muted text-center hidden-xs">
                        <p>
                          <time datetime="{{startDate}}">{{formatMMMMYYYY startDate}}</time>
                          <br>
                          &nbsp;—&nbsp;
                          {{#if endDate}}
                            <br>
                            <time datetime="{{endDate}}">{{formatMMMMYYYY endDate}}</time>
                          {{else}}
                            <time>Present</time>
                          {{/if}}
                        </p>
                        <p>
                          <svg class="icon" aria-hidden="true"><use href="#icon-clock-o"></svg>&nbsp;{{humaneDuration startDate endDate}}
                        </p>
                      </div>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.volunteer}}
            <div class="detail" id="projects">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#projects">
                  <svg class="icon icon-lg" aria-hidden="true"><use href="#icon-bookmark"></svg> Projects
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.volunteer}}
                  <li class="detail-item row" id="{{itemID 'project' @index ../resume.volunteer.length}}" itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">
                    <div class="col-sm-9 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'project' @index ../resume.volunteer.length}}">#</a>
                      <h4>
                        {{#if website}}
                          <a href="{{website}}"  target="_blank" rel="noreferrer" itemprop="url"><strong itemprop="name">{{organization}}</strong></a>
                        {{else}}
                          <strong itemprop="name">{{organization}}</strong>
                        {{/if}}
                        {{~#if position~}}
                          ,&nbsp;<span>{{position}}</span>
                        {{/if}}
                      </h4>

                      {{#if startDate}}
                        <p class="visible-xs-block text-muted">
                          <small>
                            <time datetime="{{startDate}}">{{formatMMMMYYYY startDate}}</time>&nbsp;—&nbsp;
                            {{#if endDate}}
                              <time datetime="{{endDate}}">{{formatMMMMYYYY endDate}}</time>
                            {{else}}
                              <time>Present</time>
                            {{/if}}
                            &nbsp;<span class="duration-counter"><svg class="icon" aria-hidden="true"><use href="#icon-clock-o"></svg>&nbsp;{{humaneDuration startDate endDate}}</span>
                          </small>
                        </p>
                      {{/if}}

                      <p itemprop="description">{{nl2br summary}}</p>

                      {{#if highlights}}
                        <ul class="detail-highlights">
                          {{#each highlights}}
                            <li>{{.}}</li>
                          {{/each}}
                        </ul>
                      {{/if}}
                    </div>

                    {{#if startDate}}
                      <div class="col-sm-3 detail-item-sidebar text-muted text-center hidden-xs">
                        <p>
                          <time datetime="{{startDate}}">{{formatMMMMYYYY startDate}}</time>
                          <br>
                          &nbsp;—&nbsp;
                          {{#if endDate}}
                            <br>
                            <time datetime="{{endDate}}">{{formatMMMMYYYY endDate}}</time>
                          {{else}}
                            <time>Present</time>
                          {{/if}}
                        </p>
                        <p>
                          <svg class="icon" aria-hidden="true"><use href="#icon-clock-o"></svg>&nbsp;{{humaneDuration startDate endDate}}
                        </p>
                      </div>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.education}}
            <div class="detail" id="education">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#education">
                  <svg class="icon icon-lg" aria-hidden="true"><use href="#icon-graduation-cap"></svg> Education
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.education}}
                  <li class="detail-item row" id="{{itemID 'education' @index ../resume.education.length}}" itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                    <div class="col-sm-9 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'education' @index ../resume.education.length}}">#</a>
                      <h4>
                        <strong>{{area}}</strong>
                        {{~#if studyType~}}
                          ,&nbsp;<span>{{studyType}}</span>
                        {{/if}}
                      </h4>

                      {{#if startDate}}
                        <p class="visible-xs-block text-muted">
                          <small>
                            <time datetime="{{startDate}}">{{formatYYYY startDate}}</time>
                            &nbsp;—&nbsp;
                            {{#if endDate}}
                              <time datetime="{{endDate}}">{{formatYYYY endDate}}</time>
                            {{else}}
                              <time>Present</time>
                            {{/if}}
                            &nbsp;<span class="duration-counter"><svg class="icon" aria-hidden="true"><use href="#icon-clock-o"></svg>&nbsp;{{humaneDuration startDate endDate}}</span>
                          </small>
                        </p>
                      {{/if}}

                      {{#if institution}}
                        <p class="text-muted">
                          <span itemprop="name">{{institution}}</span>
                          {{~#if gpa~}}
                            ,&nbsp;GPA: {{gpa}}
                          {{/if}}
                        </p>
                      {{/if}}

                      {{#if courses}}
                        <ul class="list-inline labels">
                          {{#courses}}<li class="label-keyword">{{.}}</li>{{/courses}}
                        </ul>
                      {{/if}}
                    </div>

                    {{#if startDate}}
                      <div class="col-sm-3 detail-item-sidebar text-muted text-center hidden-xs">
                        <p>
                          <time datetime="{{startDate}}">{{formatYYYY startDate}}</time>
                          &nbsp;—&nbsp;
                          {{#if endDate}}
                            <time datetime="{{endDate}}">{{formatYYYY endDate}}</time>
                          {{else}}
                            <time>Present</time>
                          {{/if}}
                        </p>
                        <p>
                          <svg class="icon" aria-hidden="true"><use href="#icon-clock-o"></svg>&nbsp;{{humaneDuration startDate endDate}}
                        </p>
                      </div>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.skills}}
            <div class="detail" id="skills">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#skills">
                  <svg class="icon icon-lg" aria-hidden="true"><use href="#icon-code"></svg> Skills
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.skills}}
                  <li class="detail-item row" id="{{itemID 'skill' @index ../resume.skills.length}}">
                    <div class="col-xs-12 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'skill' @index ../resume.skills.length}}">#</a>
                      <h4>{{name}} {{#if level}}<span class="text-muted">— <em>{{level}}</em></span>{{/if}}</h4>

                      {{#if keywords}}
                        <ul class="list-inline labels">
                          {{#keywords}}<li class="label label-keyword">{{.}}</li>{{/keywords}}
                        </ul>
                      {{/if}}
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.awards}}
            <div class="detail" id="awards">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#awards">
                  <svg class="icon" icon-lg aria-hidden="true"><use href="#icon-trophy"></svg> Awards
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.awards}}
                  <li class="detail-item row" id="{{itemID 'award' @index ../resume.awards.length}}">
                    <div class="col-sm-9 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'award' @index ../resume.awards.length}}">#</a>
                      <h4 itemprop="award">
                        <strong>{{title}}</strong>
                        {{~#if awarder~}}
                          ,&nbsp;<span>{{awarder}}</span>
                        {{/if}}
                      </h4>

                      {{#if date}}
                        <p class="visible-xs-block text-muted">
                          <small>
                            Awarded on:&nbsp;<time datetime="{{date}}">{{formatMMMDDYYYY date}}</time>
                          </small>
                        </p>
                      {{/if}}

                      <p>{{nl2br summary}}</p>
                    </div>

                    {{#if date}}
                      <div class="col-sm-3 detail-item-sidebar text-muted text-center hidden-xs">
                        <p>
                          <strong>Awarded on:</strong>
                          <br>
                          <time datetime="{{date}}">{{formatMMMDDYYYY date}}</time>
                        </p>
                      </div>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.publications}}
            <div class="detail" id="publications">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#publications">
                  <svg class="icon icon-lg" aria-hidden="true"><use href="#icon-book"></svg> Publications
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.publications}}
                  <li class="detail-item row" id="{{itemID 'publication' @index ../resume.publications.length}}" itemscope itemtype="http://schema.org/CreativeWork">
                    <div class="col-sm-9 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'publication' @index ../resume.publications.length}}">#</a>
                      <h4>
                        <strong>
                          {{#if website}}
                            <a href="{{website}}"  target="_blank" rel="noreferrer" itemprop="url" rel="author"><span itemprop="name">{{name}}</span></a>
                          {{else}}
                            <span itemprop="name">{{name}}</span>
                          {{/if}}
                        </strong>
                        {{~#if publisher~}}
                          ,&nbsp;<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{publisher}}</span></span>
                        {{/if}}
                      </h4>

                      {{#if releaseDate}}
                        <p class="visible-xs-block text-muted">
                          <small>Published on:&nbsp;<time datetime="{{releaseDate}}" itemprop="datePublished">{{formatMMMDDYYYY releaseDate}}</time></small>
                        </p>
                      {{/if}}

                      <p itemprop="description">{{nl2br summary}}</p>
                    </div>

                    {{#if releaseDate}}
                      <div class="col-sm-3 detail-item-sidebar text-muted text-center hidden-xs">
                        <p>
                          <strong>Published on:</strong>
                          <br>
                          <time datetime="{{releaseDate}}" itemprop="datePublished">{{formatMMMDDYYYY releaseDate}}</time>
                        </p>
                      </div>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.interests}}
            <div class="detail" id="interests">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#interests">
                  <svg class="icon icon-lg" aria-hidden="true"><use href="#icon-heart"></svg> Interests
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.interests}}
                  <li class="detail-item row" id="{{itemID 'interest' @index ../resume.interests.length}}">
                    <div class="col-xs-12 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'interest' @index ../resume.interests.length}}">#</a>
                      <h4>{{name}}</h4>

                      {{#if keywords}}
                        <ul class="list-inline labels">
                          {{#keywords}}<li class="label label-keyword">{{.}}</li>{{/keywords}}
                        </ul>
                      {{/if}}
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.languages}}
            <div class="detail" id="languages">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#languages">
                  <svg class="icon icon-lg" aria-hidden="true"><use href="#icon-comment"></svg> Languages
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.languages}}
                  <li class="detail-item row" id="{{itemID 'language' @index ../resume.languages.length}}">
                    <div class="col-xs-12 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'language' @index ../resume.languages.length}}">#</a>
                      <h4>
                        <strong>{{language}}</strong>
                        {{~#if fluency~}}
                          ,&nbsp;<span>{{fluency}}</span>
                        {{/if}}
                      </h4>

                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.references}}
            <div class="detail" id="references">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#references">
                  <svg class="icon icon-lg" aria-hidden="true"><use href="#icon-thumbs-up"></svg> References
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.references}}
                  <li class="detail-item row" id="{{itemID 'reference' @index ../resume.references.length}}">
                    <div class="col-xs-12 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'reference' @index ../resume.references.length}}">#</a>
                      <blockquote>
                        <p itemprop="description">{{nl2br reference}}</p>
                        <footer itemprop="knows" itemscope itemtype="http://schema.org/Person"><cite title="{{name}}" itemprop="description">{{name}}</cite></footer>
                      </blockquote>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          <ul class="nav nav-justified visible-xs-block visible-sm-block hidden-print">
            <li><a href="#top" class="text-muted" data-scroll><svg class="icon" aria-hidden="true"><use href="#icon-chevron-up"></svg><span class="sr-only">Go to top</span></a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <script>
    {{> javascript}}
  </script>

  {{#if resume.google_analytics_id}}
    <script>window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;ga('create', '{{ resume.google_analytics_id }}','auto');ga('send','pageview');</script>
    <script src='https://www.google-analytics.com/analytics.js' async defer></script>
  {{/if}}
</body>
</html>
